<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- robot parameters -->
  <arg name="sim" default="true"/>
  <arg name="robot" default="ommp_sim"/>
  
  <!--Gazebo parameters-->
  <arg name="world" default="jackal_race"/> <!--empty, rtabmap, navigation, object_recognition1-->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- launch the gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ommp_bringup)/worlds/$(arg world).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Load the Robot description -->
  <arg name="urdf_path" default="$(find ommp_description)/urdf/robots/ommp_sim/ommp_sim.urdf"/>
  

  <!-- send urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!--Start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- load controllers to param server-->
  <rosparam file="$(find ommp_lisa2_moveit_config)/config/ros_controllers.yaml" command="load"/>
  <rosparam file="$(find ommp_control)/config/kinect_control_sim.yaml" command="load"/>
  <!--rosparam file="$(find ommp_control)/config/hardware_interface_settings.yaml" command="load"/-->
  <rosparam file="$(find ommp_control)/config/diff_control.yaml" command="load"/>

  <!-- launch the controller manager for ros control -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller  ommp_velocity_controller arm_controller gripper_controller"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false" />
  </node>
  
  <!-- load other controllers for manual guidance - we need to switch between them through a service call -->
  <node name="controller_manager_group" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

  <!-- robot localization sensor fusion wheel encoders + imu -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam file="$(find ommp_control)/config/robot_localization.yaml" command="load" />
    <!-- remap from="odometry/filtered" to="odom_combined"/ -->
  </node>

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
  respawn="false" output="screen" />


  <!-- Include Sim Helpers -->
  <include file="$(find ommp_bringup)/launch/sim_helpers.launch"/>
  
</launch>


